/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  font-family: var(--font), sans-serif;
  font-size: 18px;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-text);
}

.header {
  border: 2px solid #000;
  padding: var(--padding-header-vertical) var(--padding-header-horizontal);
  font-family: var(--accent-font);
  text-align: center;
  background-color: #fff;
  inline-size: var(--width-block);
}

.header__title {
  font-size: var(--font-size-title);
}

.header__subtitle {
  margin-block-start: 20px;
  font-size: var(--font-size-subtitle);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 98px;
}

.content__card {
  border: 2px solid #000;
  background-color: #fff;
  inline-size: var(--width-block);
}

.card__title {
  border-block-end: 2px solid #000;
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title);
}

.card__block-image {
  position: relative;
  border-block-end: 2px solid #000;
}

.card__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__label {
  position: absolute;
  inset: 25px 25px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-align: end;
  text-shadow: -1px 0 var(--color-stroke), 
  0 1px var(--color-stroke), 
  1px 0 var(--color-stroke), 
  0 -1px var(--color-stroke);
  mix-blend-mode: hard-light;
}

.card__block-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__text {
  line-height: 21px;
}

.card__block-actions {
  display: flex;
  justify-content: end;
}

.card__button {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button__text {
  border: 2px solid #000;
  padding: 12.5px 37px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

@supports (text-stroke: 1px var(--color-stroke)) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--color-stroke);
  }
}